body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: #FFFFFF;
   background-color: #000000;
}

table, th, td {
	padding: 3px;
}
canvas {
	background-color: #FFFFFF;
}

input[type=range] {
  width: 100%;
}

input[type=button] {
	width: 8em;
	height: 1.5em;
	font-size: 100%;
}

.copyright {
	font-size: 75%;
}