body {
   	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
   	background-color: #FFFFFF;
   	color: #000000;
	margin: 5px;
   	padding: 5px;
}

a:link a:visited a:active {
    color: #222222;
    text-decoration: underline;
}

a:hover {
    color: #777777;
    text-decoration: underline;
}

hr {
	margin: 5px;
}

.white {
	background-color: #FFFFFF;
	vertical-align: middle;
	padding: 5px;
	margin: 5px;
}

tr, td, th {
	padding: 5px;
	margin: 5px;
	vertical-align: top;
	border: 1px solid #999;
	background-color: #EEEEEE;
	font-size: 100%;
}

th {
	height: 5%;
}

canvas {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
h1 {
	font-size: 150%;
	text-align: center;
	margin: 1px;
}

h2 {
	font-size: 125%;
	text-align: center;
	color: #FFFFFF;
	background-color: #777777;
	margin: 5px;
	padding: 5px;
}

h3 {
	font-size: 100%;
	text-align: center;
	color: #FFFFFF;
	background-color: #888888;
	margin: 5px;
	padding: 5px;
}

h4 {
	font-size: 100%;
	text-align: center;
	color: #000000;
	background-color: #EEEEEE;
	margin: 5px;
	padding: 5px;
}

input {
	padding: 1px;
	margin: 1px;
	font-size: 100%;	
}
input[type=range] {
  width: 100%;
}

input[type=button] {
	padding: 1px;
	margin: 1px;
	width: 100%;
	font-size: 100%;
}

input[type=text] {
	width: 97%;
	height: 1.5em;
}
select {
	width: 100%;
	height: 1.5em;
	font-size: 100%;
}

#warning {
	background-color: #990000;
	text-align: center;
	padding: 5px;
	font-size: 10pt;
	display: none;
}

.header-img {
	background-color: #FFFFFF;
	vertical-align: middle;
	margin: 5px;
}

.header-img-blk {
	background-color: #000000;
	vertical-align: middle;
	margin: 5px;
}

.text {
	padding: 15px;
}

.footer {
	padding: 0px 15px 0px 15px;
}

.message {
	font-size: 150%;
	color: #000000;
	vertical-align: middle;
}

.canvas {
	vertical-align: middle;
}

.controls {
	padding: 10px;
}

.small {
	font-size: 10pt;
	a:text-decoration: 'none';
}